.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter h2 {
  font-size: 50px;
}

.btns {
  display: flex;
  gap: 70px;
  padding: 10px;
}
.btns button {
  font-size: 40px;
  padding: 10px;
}
