/* skills.component.css */
form {
  padding: 30px;
  background-color: rgba(212, 212, 212, 0.7);
  box-shadow: 0 0 10px black;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
}
button {
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
}
.skills {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

p {
  background-color: lightblue;
  padding: 7px;
  border-radius: 30px;
}
span {
  color: white;
  background: black;
  padding: 0px 5px;
  border-radius: 22px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(38, 38, 38);
}

small {
  display: block;
}

small div {
  margin-top: -10px;
  color: red;
  font-weight: bold;
}
